[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
langchain = "*"
langchain-community = "*"
langchain-openai = "*"
langchain-text-splitters = "*"
pypdf = "*"
chromadb = "*"

[dev-packages]

[requires]
python_version = "3.11"
